.Rproj.user
.Rhistory
.RData
.Ruserdata
HelpMyCollaboratorGoesBayesian_files
HelpMyCollaboratorGoesBayesian.aux
HelpMyCollaboratorGoesBayesian.log
HelpMyCollaboratorGoesBayesian.tex
HelpMyCollaboratorGoesBayesian.zip
